{% extends "base.html" %}
{% block content %}
<section class="page-section text-center">
    <h2>Welcome, {{ user }}</h2>
    <div class="container" style="padding-top: 30px;">
        <div class="row align-items-center justify-content-center">
            <h3 style="text-align: center;">Your referrals</h3>
            <div class="card" style="width: 18rem; margin: 10px;">
                <h5 class="card-title">Computing Quiz</h5>
                <div class="card-content text-dark" style="color: white; padding-bottom: 7px;">
                    <p class="card-text">Test your computing knowledge!</p>
                </div>
            </div>
            <div class="card" style="width: 18rem; margin: 10px;">
                <h5 class="card-title">Computing Quiz</h5>
                <div class="card-content text-dark" style="color: white; padding-bottom: 7px;">
                    <p class="card-text">Test your computing knowledge!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}