{% extends "base.html" %}
{% block content %}
<title>HR dashboard</title>
<section class="page-section text-center">
    <h2>Welcome, {{ user }}</h2>
    <div class="container" style="padding-top: 30px;">
        <div class="row align-items-center justify-content-center">
            <h3 style="text-align: center;">Your referrals</h3>
            {% for index,value in referrals %}
                <div class="card" style="width: 18rem; margin: 10px;">
                    <h5 class="card-title">Referral ID<h5>
                    <div class="card-content text-dark" style="color: white; padding-bottom: 7px;">
                        <p class="card-text">Employee ID</p>
                        <p class="card-text">Employee department</p>
                        <p class="card-text">Referral title</p>
                        <p class="card-text">Notes</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}