{% extends "base.html" %}
{% block content %}
<section class="page-section text-center">
    <div class="content">
        <form method="POST" action="{{ url_for('referral_creation') }}">
    <div class="mb-3">
    <label for="user_referral_subject" class="form-label">Key Referrel</label>
    <input type="text" class="form-control" id="user_referral_subject" name="user_referral_subject" placeholder="I need a new chair">
    </div>
    <div class="mb-3">
    <label for="user_notes" class="form-label">Notes</label>
    <textarea class="form-control" id="user_notes" name="user_notes" rows="3"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    </div>
    </section>
</body>
</html>
{% endblock %}